<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field row">
    <%= f.label :email, class: "column one-half" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "column one-half" %>
  </div>

  <div class="field row">
    <div class="column one-half">
      <%= f.label :password %><i>(leave blank if you don't want to change it)</i>
    </div>
    <%= f.password_field :password, autocomplete: "new-password", class: "column one-half" %>
  </div>

  <div class="field row">
    <%= f.label :password_confirmation, class: "column one-half" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "column one-half" %>
  </div>

  <div class="field row">
    <%= f.label :current_password, class: "column one-half" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "column one-half" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "button-danger" %></div>

<%= link_to "Back", root_url %>
